<!DOCTYPE HTML>
<html>

<head>
  <title>{% block title %}Wycieczki rowerowe{% endblock %}</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
</head>

<body>
  <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="index.html">Wycieczki<span class="logo_colour"> rowerowe</span></a></h1>
          <h2>Statystyki wycieczek</h2>
        </div>
      </div>
      <div id="menubar">
        <ul id="menu">
          <!-- put class="selected" in the li tag for the selected page - to highlight which page you're on -->
<li class="selected"><a href="index.html">Newsy</a></li>
   {% if user.is_authenticated %}
          <li><a href="/dodaj_wycieczke">Dodaj wycieczkę</a></li>
          <li><a href="/wycieczki">Moje wycieczki</a></li>
	  <li><a href="/dodaj_rower">Dodaj rower</a></li>
	  <li><a href="/rowery">Moje rowery</a></li>
	  <li><a href="/statystyki">Statystyki</a></li>
	  <li><a href="/logout">Wyloguj się</a></li>
   {% else %}
      <li><a href="login">Zaloguj się</a></li>
      <li><a href="register">Zarejestruj się</a></li>
    {% endif %}
        </ul>
      </div>
    </div>
    <div id="site_content">
      <div id="content">
        {% block content %}

      	{% endblock %}  
      </div>
    </div>
    <div id="footer">
      <p>Copyright &copy by Matlos89 and Nikon</p>
<p>CSS Theme by: night_sky</p>
    </div>
  </div>
</body>
</html>
