{% extends "base2.html" %}

{% block content %}
  <h2>Logowanie</h2><p></p>
  <form action="" method="post">
  {% csrf_token %}
  <div class="login_div">
    {% if form.username.errors %}<p class="errors">{{form.username.errors}}</p>{% endif %}
    <p><label for="username"{% if form.username.errors %} class="error" {% endif %}>Nazwa użytkownika:</label></p>
    <p>{{form.username}}</p>
  </div>

  <div class="login_div">
    {% if form.password.errors %}<p class="error">{{form.password.errors }}</p>{% endif %}
    <p><label for="password"{% if form.password.errors %} class="error" {% endif %}>Hasło:</label></p>
    <p>{{form.password}}</p>
  </div>

  <p><input type="submit" alt="register"/></p>
  </form>
  <div class="register_div">
    <p>Nie masz konta? <a href="register.html">Zarejestruj się</p>
  </div>
{% endblock %}